<%- include ('../../partials/head') -%>

<%- include ('../../partials/nav') -%>

<div class="container">
    <hr>
    <h2>Cadastro de categoria</h2>
    <hr>
    <form action="" method="POST">
        <div id="flex"> 
            <input class="form-control" type="text" name="title" placeholder="Defina o título da nova categoria">
            <button class="btn btn-success">Cadastrar</button>
        </div>
    </form>
</div>


<%- include ('../../partials/footer') -%> 
