<nav id="flex" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        <img src="/img/logo.png" width="30%" alt="Logomarca">
    </a>
    
    <ul class="navbar-nav" id="ul-flex">
    </ul>
</nav>