#flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#flex input{
    margin-right: 5px;
}

#flex-svg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#button-svg{
    text-decoration: none;
    background: white;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    border:none;
    cursor: pointer;
}

#flex-form-article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#flex-form-article,
label,
select,
button{
    margin: 5px;
}

#ul-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}